---
title: Bündnerclub Zürich
layout: default
permalink: /
description: Willkommen auf der Homepage des Bündnerclubs Zürich
pagination:
    enabled: true
---

<!--Main layout-->
<main class="mb-5 mt-3">
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-9 mb-4">
                <h4 class="mb-3">Neuste Posts</h4>

                {% for post in paginator.posts %}

                <section>
                    <div class="row">
                        {% if post.image %}
                        <div class="col-md-4 mb-4">
                            <div class="bg-image hover-overlay shadow-5-strong rounded ripple"
                                data-mdb-ripple-color="light">
                                {% picture jpt-webp "{{ post.image }}" 16:9 --img class="img-fluid rounded-4
                                shadow-2-strong hover-shadow" --alt {{post.alt}} %}
                                <a href="{{post.url}}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-md-8">
                            <a class="text-reset" href="{{post.url}}">
                                <h5>{{post.title}}</h5>
                            </a>
                            <h6><i class="fa-regular fa-calendar"></i> {% include date-ge.html date=post.date %}</h6>
                            <p>
                                {{post.excerpt}}
                            </p>

                            <a href="{{post.url}}" class="btn btn-primary">Mehr Infos...</a>
                            {% if post.signup %}
                            <a href="{{post.signup}}" class="btn btn-info ms-1">{{post.signup_text}} <i
                                    class="fa-solid fa-chevron-right ms-1"></i></a>
                            {% endif %}
                        </div>
                        <hr class="my-4" />
                </section>

                {% endfor %}

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3">
                <!--Section: Sidebar-->
                <section class="sticky-top" style="top: 80px;">
                    <!--Section: Registration Form-->

                    {% include form.html %}

                    <!--Section: Ad-->
                </section>
                <!--Section: Sidebar-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        {% include paginate.html %}
    </div>
</main>