{% if page.pictures.size > 1 %}
<div id="carousel" class="carousel slide rounded-4 shadow-sm border mb-3" style="overflow: hidden;">
    <div class="carousel-indicators">
        {% for i in (1..page.pictures.size) %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        {% else %}
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{i | minus: 1}}"
            aria-label="Slide {{i}}"></button>
        {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for picture in page.pictures %}
        {% if forloop.first %}
        <div class="carousel-item active">
            {% picture jpt-webp {{picture}} 4:3 --img class="d-block w-100" %}
        </div>
        {% else %}
        <div class="carousel-item">
            {% picture jpt-webp {{picture}} 4:3 --img class="d-block w-100" %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
{%else%}
{% picture jpt-webp {{page.pictures[0]}} 4:3 center --img class="img-fluid rounded-4 shadow-sm border mb-3" %}
{% endif %}