<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
    {% if page.pictures.size > 1 %}
    <div class="carousel-indicators">
        {% for i in (1..page.pictures.size) %}
        {% if forloop.first %}
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="{{i | minus: 1}}" class="active"
            aria-current="true" aria-label="Slide {{i}}"></button>
        {% else %}
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="{{i | minus: 1}}"
            aria-label="Slide {{i}}"></button>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="carousel-inner">
        {% for picture in page.pictures %}
        {% if forloop.first %}
        <div class="carousel-item active">
            {% picture jpt-webp {{picture}} 4:3 --img class="d-block w-100" %}
        </div>
        {% else %}
        <div class="carousel-item">
            {% picture jpt-webp {{picture}} 4:3 --img class="d-block w-100" %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if page.pictures.size > 1 %}
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    {% endif %}
</div>