<!--Footer-->
<footer class="bg-light text-lg-start mt-auto">
    <div class="container">
        <section>
            <div class="align-left">
                {% picture jpt-webp "/assets/img/static/vseth_Logo_bunt.png" --img height="100px" %}</a>
            </div>
        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{'now' | date: "%Y"}} Copyright:
        <a class="text-dark" href="{{ site.url }}">Bündnerclub Zürich</a> <br />
        <a href="https://github.com/edbingo/bc-website" class="text-dark"><i class="fa-brands fa-github"></i> Source Code</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->