<!--Footer-->
<footer class="bg-light text-lg-start mt-auto">
    <div class="container p-4">
        <section>
            <div class="align-left">
                <img src="/assets/img/static/vseth_Logo_bunt.png" height="100px" width="auto" alt="">
            </div>
        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{'now' | date: "%Y"}} Copyright:
        <a class="text-dark" href="{{ site.url }}">Bündnerclub Zürich</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->