<!--Footer-->
<footer class="bg-body-tertiary mt-auto">
    <div class="container">
        <a href="https://vseth.ethz.ch" target="_blank">
        <img src="/assets/img/static/vseth_Logo_bylines_organisation.svg" alt="vseth logo" height="100px" id="vseth">
        </a>
    </div>
    <!-- Copyright -->
    <div class="text-center p-2 bg-body-secondary">
        © {{'now' | date: "%Y"}} Copyright:
        <a class="text-reset" href="{{ site.url }}">Bündnerclub Zürich</a> <br />
        <a class="text-reset text-decoration-none" href="https://github.com/edbingo/bc-website"><i class="bi bi-github me-1"></i> Source
            Code</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->