<div class="card text-center border border-secondary mb-4">
    <div>
        <h5 class="card-header">Mailingliste Abbonieren</h5>
        <div class="card-body">
            <p>Werda Teil vum Verein und abbonier üsa Newsletter. Kriag Updates zu üseri Events
                und bliib immer ufem laufenda.</p>
            <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mailModal">
                Abbonieren</button>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <a href="https://list.buendnerclub.ch/archive" target="_blank">Mail Archiv</a>
    </div>
</div>