<div class="card text-center border border-secondary mt-2">
    <div>
        <h5 class="card-header">Mailingliste Abbonieren</h5>
        <div class="card-body">
            <p>Werda Teil vum Verein und abbonier üsa Newsletter. Kriag Updates zu üseri Events
                und bliib immer ufem laufenda.</p>
            <a href="https://list.buendnerclub.ch/subscription/form" class="btn btn-primary btn-rounded btn-block" target="_blank">Abbonieren<i
                    class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
    </div>
    <div class="card-footer text-muted">
        <a href="https://list.buendnerclub.ch/archive" target="_blank">Mail Archiv</a>
    </div>
</div>