<!-- Modal -->
<div class="modal fade" id="mailModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true"
    style="backdrop-filter: blur(10px);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Jetzt Registrieren</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form method="post" action="http://localhost:3000/new/user" target="_blank">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control rounded-3" id="floatingEmail"
                            placeholder="name@example.org" required>
                        <label for="floatingEmail">Email Addresse</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="name" class="form-control rounded-3" id="floatingName"
                            placeholder="Name" required>
                        <label for="floatingName">Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control rounded-3" id="floatingPassword"
                            placeholder="Passwort" required>
                        <label for="floatingPassword">Passwort</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password_confirm" class="form-control rounded-3" id="floatingPassword"
                            placeholder="Passwort Bestätigen" required>
                        <label for="floatingPassword">Passwort Bestätigen</label>
                    </div>
                    <div class="mb-3">
                        <select class="form-select rounded-3" name="university_id" required>
                            <option selected>Wähle eine Hochschule</option>
                            <option value="1">ETH Zürich</option>
                            <option value="2">Uni Zürich</option>
                            <option value="3">ZHAW</option>
                            <option value="4">ZHdK</option>
                            <option value="5">Andere / Keine</option>
                        </select>
                    </div>
                    <input type="text" name="telephone" value="" style="display: none !important;" tabindex="-1"
                        autocomplete="off" />
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" id="submit-button"
                        type="submit">Registrieren</button>
                </form>
            </div>
        </div>
    </div>
</div>