<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(52 58 64 / 0.8); backdrop-filter: blur(10px);" data-bs-theme="dark">
  <div class="container-md">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{site.url}}">
      {% picture jpt-webp /assets/img/static/bock_logo.webp 1:1 --img height="24" class="d-inline-block align-text-top me-2" --alt Logo vom Bündnerclub Zürich%}
       Bündnerclub Zürich
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav me-auto">
        {% for screen in site.navigation %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == screen.url %} active" aria-current="page"{%else%}"{% endif %}
            href="{{ screen.url }}">{{ screen.title }}</a>
        </li>
        {% endfor %}
      </ul>

      <ul class="navbar-nav d-flex flex-row">
        <!-- Icons -->

        <li class="nav-item me-3 me-lg-0">
          <a href="mailto:{{ site.email | encode_email }}" class="nav-link" rel="nofollow" target="_blank">
            <i class="bi bi-envelope-fill"></i>
          </a>
        </li>

        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="{{site.whatsapp}}" rel="nofollow" target="_blank">
            <i class="bi bi-whatsapp"></i>
          </a>
        </li>

        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="{{site.instagram}}" rel="nofollow" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
        </li>

        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#" id="colour-switch">
            <i class="bi bi-lightbulb"></i>
          </a>

        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->