{% if paginator.total_pages > 1 %}
<nav class="my-auto" aria-label="Pagination">
    <ul class="pagination justify-content-center my-2">
        <li class="page-item">
            {% unless paginator.page == paginator.first_page %}
            <a class="page-link" href="{{paginator.previous_page_path}}" aria-label="Previous">
                <i class="bi bi-chevron-left mx-1"></i></a>
            {% else %}
            <a class="page-link disabled" href="{{paginator.previous_page_path}}" aria-label="Previous">
                <i class="bi bi-chevron-left mx-1"></i></a>
            {% endunless %}
        </li>

        {% for trail in paginator.page_trail %}
        <li class="page-item {% if page.url == trail.path %}active{% endif %}">
            <a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
        {% endfor %}

        <li class="page-item">
            {% unless paginator.page == paginator.last_page %}
            <a class="page-link" href="{{paginator.next_page_path}}" aria-label="Next">
                <i class="bi bi-chevron-right mx-1"></i></a>
            {% else %}
            <a class="page-link disabled" href="{{paginator.next_page_path}}" aria-label="Next">
                <i class="bi bi-chevron-right mx-1"></i></a>
            {% endunless %}
        </li>
    </ul>
</nav>
{% endif %}