{% if paginator.total_pages > 1 %}
<nav class="my-4" aria-label="...">
    <ul class="pagination pagination-circle justify-content-center">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{paginator.previous_page_path}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{{paginator.first_page_path}}">1</a></li>
        {% if paginator.previous_page != 1 %}
        <li class="page-item">...</li>
        {% endif %}
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="">{{paginator.page}} <span class="sr-only">(current)</span></a>
        </li>
        {% if paginator.next_page %}
        {% if paginator.next_page != paginator.total_pages %}
        <li class="page-item">...</li>
        {% endif %}
        <li class="page-item">
            <a href="{{paginator.last_page_path}}" class="page-link">{{paginator.last_page}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{paginator.next_page_path}}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}