body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  margin-top: 58px;
  flex: 1;
}

.separator {
  border-right: 1px solid var(--separator-color);
  height: 1em;
  margin: 0 0.5em;
}

[data-bs-theme="dark"] .separator {
  --separator-color: #adb5bd;
}

[data-bs-theme="light"] .separator {
  --separator-color: #212529;
}
