---
layout: default
title: "Über Uns"
permalink: "/about/"
statuten: "/assets/pdf/Statuten-2023.pdf"
---


<main class="my-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item"> <a class="link-body-emphasis" href="/">
                        <i class="bi bi-house-fill"></i>
                    </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
            </ol>
        </nav>
        <section class="">

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Unsere Statuten</h5>
                            <p class="card-text">In unseren Statuten wird klar definiert, was der Vereinszweck ist,
                                welche Voraussetzungen erfüllt
                                werden müssen um Aktivmitglied zu werden, wie die Generalversammlungen ablaufen müssen,
                                usw.</p>
                            <a href="{{page.statuten}}" class="btn btn-primary btn-rounded d-block"><i class="bi bi-file-earmark-pdf-fill me-1"></i>Statuten 2023</a>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Kontakt</h5>
                            <p class="card-text">Bei Allgemeinen Fragen zum Bündnerclub, zur Mitgliedschaft und zu unseren Events könnt Ihr uns mit folgendem Link erreichen:</p>
                            <a href="mailto:{{site.email | encode_email}}" class="btn btn-primary btn-rounded d-block"><i class="bi bi-pencil-square me-1"></i>E-Mail schreiben</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Unser Engagement</h5>
                            <p class="card-text">Der Bündnerclub Zürich engagiert sich vor allem für die folgenden
                                Punkte:</p>
                            <p class="card-text">
                            <ul>

                                <li>Die Förderung des Kontaktes und Zusammenhaltes der Bündnerinnen und Bündner an den
                                    Hochschulen des
                                    Kantons Zürich </li>
                                <li>Der Austausch mit Studenten aus anderen Studienrichtungen und Semestern an
                                    verschiedenen
                                    Vereinsanlässen</li>
                                <li>Die Möglichkeit geben, sich ein Netzwerk mit anderen Bündnern aufzubauen</li>
                                <li>Spass zu haben</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Für Maturanden</h5>
                            <p class="card-text">Fertig mit der Matur, jetzt denkst du an ein mögliches Studium,
                                vielleicht im Kanton
                                Zürich?</p>
                            <p class="card-text">Schreib uns unter <a href="mailto:{{site.email | encode_email}}">info
                                    &lt;at&gt; buendnerclub &lt;punkt&gt; ch</a>,
                                falls
                                du irgendwelche Fragen zum Studium, zum Züri-Leben oder zum Bündnerclub hast.</p>
                            <p class="card-text">Insbesonders für Maturanden, schreib uns, falls dich eine der folgenden
                                Sachen
                                interessiert:</p>
                            <ul>
                                <li>Ansprechpersonen - für Fragen zu deinem gewünschten Studiengang</li>
                                <li>Schnuppertag an der Hochschule - falls du ein Tag an einer Hochschule miterleben
                                    möchtest, bevor du dich für diese entscheidest</li>
                            </ul>
                            <a href="mailto:{{site.email | encode_email}}"
                                class="btn-primary btn-rounded btn d-block"><i class="bi bi-pencil-square me-1"></i>Kontakt</a>
                        </div>
                    </div>
                </div>

            </div>
            <h4 class="text-center mb-4">Unser Vorstand</h4>
            <div class="row">

            </div>

            {% if site.data.board.size > 4 %}
            {% for member in site.data.board %}
            {% if forloop.first %}
            <div class="row text-center">
                <div class="col-lg-6 mb-4">
                    {% picture jpt-webp assets/img/static/vorstand.jpg --img class="img-fluid rounded" --alt Der
                    Vorstand %}
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            {% include member.html %}
                        </div>
                        {% elsif forloop.index > 1 and forloop.index < 4 %} <div class="col-lg-6 col-sm-6">
                            {% include member.html %}
                    </div>
                    {% elsif forloop.index == 4 %}
                    <div class="col-lg-6 col-sm-6">
                        {% include member.html %}
                    </div>
                </div>
            </div>
    </div>
    <div class="row text-center">
        {% elsif forloop.index > 4 %}
        <div class="col-lg-3 col-sm-6">
            {% include member.html %}
        </div>
        {% endif %}
        {% endfor %}
        {%else%}

        {% endif %}

        <div class="d-flex justify-content-end">
            <a href="/alter_vorstand" class="btn btn-rounded btn-info d-inline-flex ">Ehemalige Mitglieder</a>
        </div>
        </section>

    </div>
</main>