---
layout: default
title: "Über uns"
permalink: "/about"
statuten: "/assets/pdf/Statuten-2023.pdf"
---

<main class="my-5">
    <div class="container">
        <section class="">

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Unser Engagement</h5>
                            <p class="card-text">Der Bündnerclub Zürich engagiert sich vor allem für die folgenden
                                Punkte:</p>
                            <p class="card-text">
                            <ul>

                                <li>Die Förderung des Kontaktes und Zusammenhaltes der Bündnerinnen und Bündner an den
                                    Hochschulen des
                                    Kantons Zürich </li>
                                <li>Der Austausch mit Studenten aus anderen Studienrichtungen und Semestern an
                                    verschiedenen
                                    Vereinsanlässen</li>
                                <li>Die Möglichkeit geben, sich ein Netzwerk mit anderen Bündnern aufzubauen</li>
                                <li>Spass zu haben</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Unsere Statuten</h5>
                            <p class="card-text">In unseren Statuten wird klar definiert, was der Vereinszweck ist, welche Voraussetzungen erfüllt
                                werden müssen um Aktivmitglied zu werden, wie die Generalversammlungen ablaufen müssen,
                                usw.</p>
                            <a href="{{page.statuten}}" class="btn btn-primary d-block">Statuten 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Für Maturanden</h5>
                            <p class="card-text">Fertig mit der Matur, jetzt denkst du an ein mögliches Studium, vielleicht im Kanton
                                Zürich?</p>
                            <p class="card-text">Schreib uns unter <a href="mailto:{{site.email}}">{{site.email}}</a>, falls
                                du irgendwelche Fragen zum Studium, zum Züri-Leben oder zum Bündnerclub hast.</p>
                            <p class="card-text">Insbesonders für Maturanden, schreib uns, falls dich eine der folgenden Sachen
                                interessiert:</p>
                            <ul>
                                <li>Ansprechpersonen - für Fragen zu deinem gewünschten Studiengang</li>
                                <li>Schnuppertag an der Hochschule - falls du ein Tag an einer Hochschule miterleben
                                    möchtest, bevor du dich für diese entscheidest</li>
                            </ul>
                            <a href="mailto:{{site.email}}" class="btn-primary btn d-block">Kontakt</a>
                        </div>
                    </div>
                </div>

            </div>
            <h4 class="text-center mb-4">Unser Vorstand</h4>
            <div class="row">
                {% for member in site.data.board %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            {% if member.url %}<a href="{{member.url}}" target="_blank">{% endif %}
                            {% picture jpt-webp "{{ member.img }}" 3:4 --img class="img-fluid" --alt {{ member.name }} %}
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            {% if member.url %}</a>{% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{member.name}}</h5>
                            <p class="card-text">{{member.role}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-end">
                <a href="/alter_vorstand" class="btn btn-info d-inline-flex ">Ehemalige Mitglieder</a>
            </div>
        </section>

    </div>
</main>