<!DOCTYPE html>
<html lang="{{ site.lang | default: " de-CH" }}">

{% include head.html %}


<body>
  {% include navigation.html %}

  <div class="page-content">
    <div class="wrapper">
      <div id="intro" class="p-5 text-center bg-light">
        <h1>{{ page.title }}</h1>
        {% if page.desc %}<p class="mb-3">{{page.desc}}</p> {% endif %}
      </div>
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</body>

</html>