---
layout: default
---
<main class="mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg">

                {{ content }}

                {% if paginator.total_posts == 0 %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading mb-0">Keine Einträge gefunden</h4>
                </div>

                {% else %}
                {% for post in paginator.posts %}
                {% unless post.feed == false %}
                {% if post.featured %}
                <section class="my-3 border rounded-4 shadow-sm bg-body-secondary p-3">
                {% else %}
                <section class="my-3 border rounded-4 shadow-sm bg-body-primary p-3">

                {%endif%}
                    <div class="row">
                        {% if post.image %}
                        <div class="col">
                            {% picture jpt-webp "{{ post.image }}" 16:10 center --img class="img-fluid rounded-4
                            shadow-sm border mb-2 mb-md-0" --alt {{post.alt}} --link {{post.url}} %}
                        </div>
                        {% endif %}

                        <div class="col-md-8">
                            <a href="{{post.url}}" class="text-reset header-link">
                                <h4 class="fw-bold">{{post.title}}</h4>
                            </a>

                            <h6><i class="bi bi-calendar-fill me-1"></i>{% include date-ge.html date=post.date %}<span
                                    class="separator"></span><i
                                        class="bi bi-geo-alt-fill mx-1"></i>{{post.location}}</h6>

                            <p>
                                {{post.excerpt}}
                            </p>

                            <div class="row justify-content-end g-2">
                                {% if post.signup %}
                                <div class="col-auto">
                                    <a href="{{post.signup}}" target="_blank" style="{{post.button_style}}"
                                        class="btn btn-rounded btn-secondary shadow-sm">{{post.signup_text}}<i
                                            class="bi bi-chevron-right ms-1"></i></a>
                                </div>
                                {% endif %}
                                <div class="col-auto">
                                    <a href="{{post.url}}" class="btn btn-primary shadow-sm">Mehr Infos...</a>
                                </div>

                            </div>

                        </div>
                </section>
                {%endunless%}
                {% endfor %}
                {% endif %}
                <div class="my-4">
                    {% include paginate.html %}
                </div>

            </div>
            <div class="col-lg-3" style="min-width: 260px;">
                <section class="sticky-top" style="top: 80px;">

                    {% include mail.html %}

                </section>
            </div>
        </div>
    </div>
</main>
