---
layout: default
---
<!--Main layout-->
<main class="mb-5 mt-3">
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-9 mb-4">

                {{ content }}

                {% if paginator.total_posts == 0 %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading mb-0">Keine Einträge gefunden</h4>
                </div>
                {% else %}

                {% for post in paginator.posts %}
                <section>
                    <div class="row">
                        {% if post.image %}
                        <div class="col-md-4 mb-4">
                            <div class="bg-image hover-overlay shadow-5-strong rounded ripple"
                                data-mdb-ripple-color="light">
                                {% picture jpt-webp "{{ post.image }}" 16:9 --img class="img-fluid rounded-4
                                shadow-2-strong hover-shadow" --alt {{post.alt}} %}
                                <a href="{{post.url}}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-md-8">
                            <a class="text-reset" href="{{post.url}}">
                                <h5>{{post.title}}</h5>
                            </a>
                            <h6><i class="fa-regular fa-calendar"></i> {% include date-ge.html date=post.date %} | <a class="text-reset" href="/{{post.categories[0]}}"><i class="fa-solid fa-folder-open mx-1"></i> {{post.categories[0] | capitalize}}</a></h6>
                            <p>
                                {{post.excerpt}}
                            </p>

                            <a href="{{post.url}}" class="btn btn-primary btn-rounded">Mehr Infos...</a>
                            {% if post.signup %}
                            <a href="{{post.signup}}" target="_blank" style="{{post.button_style}}" class="btn btn-rounded btn-dark ms-1">{{post.signup_text}} <i
                                    class="fa-solid fa-chevron-right ms-1"></i></a>
                            {% endif %}
                        </div>
                        <hr class="my-4" />
                </section>
                {% endfor %}
                {% endif %}

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3">
                <!--Section: Sidebar-->
                <section class="sticky-top" style="top: 80px;">
                    <!--Section: Registration Form-->

                    {% include form.html %}

                    <!--Section: Ad-->
                </section>
                <!--Section: Sidebar-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        {% include paginate.html %}
    </div>
</main>