---
layout: default
---
<main class="mb-5 mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 mb-4">

                {{ content }}

                {% if paginator.total_posts == 0 %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading mb-0">Keine Einträge gefunden</h4>
                </div>
                {% else %}

                {% for post in paginator.posts %}
                <section>
                    <div class="row">
                        {% if post.image %}
                        <div class="col mb-4">
                            <div class="bg-image hover-overlay shadow-5-strong rounded ripple hover-zoom"
                                data-mdb-ripple-color="light">
                                {% picture jpt-webp "{{ post.image }}" 16:9 --img class="img-fluid rounded-4
                                shadow-2-strong" --alt {{post.alt}} %}
                                <a href="{{post.url}}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-md-8">
                            <a class="text-reset" href="{{post.url}}">
                                <h5>{{post.title}}</h5>
                            </a>
                            <h6><i class="fa-regular fa-calendar me-1"></i> {% include date-ge.html date=post.date %} | <a
                                    class="text-reset" href="/{{post.categories[0]}}"><i
                                        class="fa-solid fa-folder-open mx-1"></i> {{post.categories[0] |
                                    capitalize}}</a></h6>
                            <p>
                                {{post.excerpt}}
                            </p>



                            <a href="{{post.url}}" class="btn btn-primary btn-rounded">Mehr Infos...</a>

                            {% if post.signup %}

                            <a href="{{post.signup}}" target="_blank" style="{{post.button_style}}"
                                class="btn btn-rounded btn-dark ms-1">{{post.signup_text}}<i
                                    class="fa-solid fa-chevron-right ms-2"></i></a>

                            {% endif %}

                        </div>
                </section>
                <hr class="my-4" />
                {% endfor %}
                {% endif %}

            </div>
            <div class="col" style="min-width: 330px; max-width: 500px;">
                <section class="sticky-top" style="top: 80px;">

                    {% include mail.html %}

                </section>
            </div>
        </div>

        {% include paginate.html %}
    </div>
</main>