---
layout: default
---
<main class="mb-5 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
                    </ol>
                </nav>
                {{content}}

                {% if page.map %}
                <div class="ratio ratio-16x9 shadow-2-strong">
                    <iframe
                        src="{{page.map}}"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                {% endif %}
                <hr class="my-5" />
                
                <h6><i class="fa-regular fa-calendar"></i> {% include date-ge.html date=page.date %}</h6>
            </div>

            <div class="col-md-3 mb-4">
                <section class="sticky-top" style="top: 80px;">
                    {% include form.html %}
                </section>
            </div>
        </div>
    </div>
</main>