---
layout: default
---
<main class="mb-5 mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 mb-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        {% if page.categories contains "events" %} <li class="breadcrumb-item"><a
                                href="/events">Events</a></li> {% endif%}
                        {% if page.categories contains "admin" %}<li class="breadcrumb-item"><a href="/admin">Admin</a>
                        </li> {% endif%}
                        {% if page.categories contains "archiv" %}<li class="breadcrumb-item"><a href="/past">Archiv</a>
                        </li> {% endif%}
                        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
                    </ol>
                </nav>
                <hr />


                {{content}}

                {% if page.pictures %}

                {% include carousel.html %}

                {% endif %}

                {% if page.map %}
                <div class="ratio ratio-16x9 shadow-2-strong">
                    <iframe src="{{page.map}}" title="Map" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                {% endif %}
                <hr class="my-4" />
                {% unless page.title == "Events" %}
                <div class="d-flex" style="bottom: 0%;">
                    {% if page.next %}
                    <a href="{{page.next.url}}" class="btn btn-secondary btn-rounded me-auto"><i
                            class="fa-solid fa-chevron-left mx-2"></i></a>
                    {% endif %}
                    <h6 class="my-auto"><i class="fa-regular fa-calendar"></i> {% include date-ge.html date=page.date %}
                    </h6>
                    {% if page.previous %}
                    <a href="{{page.previous.url}}" class="btn btn-secondary btn-rounded ms-auto"><i
                            class="fa-solid fa-chevron-right mx-2"></i></a>
                    {% endif %}
                </div>

                {% else %}

                Letztes Update:
                <h6><i class="fa-regular fa-calendar"></i> {% include date-ge.html date=site.time %}</h6>
                {% endunless %}

            </div>

            <div class="col" style="min-width: 330px; max-width: 500px;">
                <section class="sticky-top" style="top: 80px;">
                    {% include mail.html %}
                </section>
            </div>
        </div>
    </div>
</main>